---
# Default leaflet map page
layout: default
custom-foot: js/map-js.html
---

<div class="container-fluid mapa">
 <div class="row">  
<h2>Mapa de orígenes</h2>
<p>Procedencia de los autores de las obras originales</p>   
 </div>
</div>

<div id="map"></div>


<!--

<div class="container-fluid mapa">

 <div class="row">  

  <h2>Hallazgos</h2>
  
  <div class="col-sm-6" style="background-color:#ffffff;">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscipit, turpis eu rutrum egestas, purus libero convallis mauris, at fringilla felis ante ut orci. Curabitur luctus nisl ut libero molestie semper in at libero. Curabitur malesuada, leo quis malesuada porttitor, felis ipsum dignissim lacus, non tempor sapien enim eu odio. Sed molestie lobortis diam, euismod euismod ante pretium laoreet. Nulla in fringilla est, non mollis turpis. Mauris mi nunc, posuere at ex a, elementum egestas dolor. Fusce feugiat laoreet arcu, eu semper lectus venenatis nec. Nulla auctor ultrices vestibulum</p>
   </div>
  
 <div class="col-sm-6" style="background-color:#ffffff;">
 <div class="flourish-embed flourish-chart" data-src="visualisation/23536394">
         <script src="https://public.flourish.studio/resources/embed.js"></script>
         <noscript>
         <img src="https://public.flourish.studio/visualisation/23536394/thumbnail" width="70%" alt="chart visualization" />
         </noscript>
    </div>
 </div>

</div>

-->
