---
# Default leaflet map page
layout: default
custom-foot: js/map-js.html
---

<div class="container-fluid mapa">
 <div class="row">  
<h2>Mapa de orígenes</h2>
<p>Procedencia de los autores de las obras originales</p>   
 </div>
</div>

<div id="map"></div>


## Hallazgos

<div class="container-fluid">

 <div class="row">  
  <div class="col-sm-6" style="background-color:#ffffff;">
    <div class="flourish-embed flourish-chart" data-src="visualisation/23536394">
         <script src="https://public.flourish.studio/resources/embed.js"></script>
         <noscript><img 
src="https://public.flourish.studio/visualisation/23536394/thumbnail" width="70%" alt="chart visualization" /></noscript>
    </div>
   </div>
  
 <div class="col-sm-6" style="background-color:#ffffff;">
  <div class="flourish-embed flourish-chart" data-src="visualisation/23553301"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/23553301/thumbnail" width="100%" alt="chart visualization" /></noscript>
   </div>
 </div>
</div>

</div>
